body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #D10000, #920000);
  font-family: Consolas, Inconsolata, Arial, sans-serif;
}

@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(50px); /* start position */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* end position */
  }
}

@keyframes fadeInSlideUpSmall {
  0% {
    opacity: 0;
    transform: translateY(20px); /* start position */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* end position */
  }
}

.container {
  background: linear-gradient(to bottom right, #252525, #151515);
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  transform: translateY(50px); /* initially move the container down by 50px */
  animation: fadeInSlideUp 1.5s ease-in-out forwards; /* apply animation */
}

.content {
  padding: 20px;
}

.gradient-text {
  background: linear-gradient(to right, #FF99A0, #FF2727);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-family: Consolas, Arial, sans-serif;
}

h1 {
  margin: 0;
  font-family: Consolas, Inconsolata, Arial, sans-serif;
}

.line {
  border: none;
  border-top: 2px solid #ccc;
  margin: 20px 0;
}

p {
  font-family: Consolas, Inconsolata, Arial, sans-serif;
  color: white;
}

a {
  font-family: Consolas, Inconsolata, Arial, sans-serif;
  color: white;
}

.gradient-button {
  display: inline-block;
  width: 107px; /* Fixed width */
  padding: 10px 20px;
  margin-right: 10px; /* Added margin between buttons */
  margin-bottom: 10px; /* Added margin below buttons */
  border: none;
  border-radius: 20px;
  background: linear-gradient(to right, #FF5762, #CE0000);
  color: white;
  text-decoration: none;
  transform: translateY(20px); /* initially move the container down by 20px */
  transition: padding 0.2s; /* added padding transition */
  position: relative; /* make it relative for pseudo-element positioning */
  overflow: hidden; /* hide overflow of pseudo-element */
  animation: fadeInSlideUpSmall 1s ease-in-out forwards;
  z-index: 1; /* ensure the button content is on top */
}

.gradient-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, #007BFF, #0051A7);
  transition: opacity 0.5s; /* smooth transition for opacity */
  opacity: 0; /* initially invisible */
  border-radius: 20px; /* match the border radius */
  z-index: -1; /* place behind the button content */
}

.gradient-button:hover::before {
  opacity: 1; /* make the pseudo-element visible on hover */
}
